{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Pet Shop</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="{% static './css/style.css' %}" rel="stylesheet" />
  <link href="{% static './css/banner.css' %}" rel="stylesheet" />

</head>

<body>
  <header>
    <div id="body">
      <div id="header"> <a href="#" id="logo"><img src="{% static './media/logo.png' %}" width="250" height="auto" alt=""></a>
        <ul class="navigation">
          <li class="active"><a href="{% url 'index' %}">Nosotros</a></li>
          <li><a href="{% url 'tienda' %}">Tienda</a></li>
          <li><a href="{% url 'contacto' %}">Contactanos</a></li>
        </ul>
      </div>
  </header>

  <main>

    <div id="content">
      <div class="imagen-responsive">&nbsp;</div>

      <div class="content">
        <ul>
          <li> <img src="{% static './media/Alimentacion.png' %}" width="114" height="160" alt="" class="imagen-con-zoom"></a>
            <h2>¿Los alimentos crudos pueden enfermar a las mascotas?</h2>
            <p>Los CDC no recomiendan darles alimentos crudos a las mascotas.
              Se han encontrado bacterias como Salmonella y Listeria en los alimentos crudos para mascotas, incluso en
              los
              envasados que se venden en las tiendas. Estos microbios pueden enfermar a su mascota. Su familia también
              se
              puede enfermar al manipular el alimento crudo o cuidar a la mascota.</p>
          </li>
          <li> <img src="{% static './media/puppy2.jpg' %}" width="114" height="160" alt="" class="imagen-con-zoom"></a>
            <h2>¿Alimentos secos o enlatados para mascotas?</h2>
            <p>Los alimentos secos o enlatados también pueden estar contaminados con microbios. Antes de hacer cambios
              en
              la alimentación de su mascota, hable con su veterinario.</p>
          </li>
          <li> <img src="{% static './media/cat.jpg' %}" width="114" height="160" alt="" class="imagen-con-zoom"></a>
            <h2>La mascota adecuada para tu familia</h2>
            <p>Algunas mascotas tienen buen carácter y son más adecuadas para estar con niños: Los perros tales como los
              labradores, los golden retriever (perdiguero dorado) y los beagle (sabueso) tienden a ser cariñosos con
              los
              niños.</p>
          </li>
        </ul>
      </div>

     
    <div id="main">
      <center>
        <h1>¡Lo llevamos a tu casa!</h1>
      </center>
      <div class="banner">
        <img src="{% static './media/002.png' %}" alt="">
        <img src="{% static './media/007.png' %}" alt="">
        <img src="{% static './media/008.png' %}" alt="">
        <img src="{% static './media/images (5).jpeg' %}" alt="">
        <img src="{% static './media/images (1).jpeg' %}" alt="">
        <img src="{% static './media/descarga (1).jpeg' %}" alt="">
      </div>
    </div>

    <section>
      
      <h1>Estos son algunos de nuestros amigos !!!</h1>
      <div id="imagenesMascotas"></div>
      <button id="botonNuevasImagenes">Obtener Nuevas Imágenes</button>

    </section>
    
  </main>

  <footer>
    <div id="footer">
      <center>
        <h2> María - Pablo - Liliana </h2>
      </center>
    </div>

  </footer>

  <script type="module" src="{%static './js/style.js' %}"></script>
 

</body>

</html>